[build]
  publish = "public"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"

[dev]
  command = "python3 -m http.server 8888"
  targetPort = 8888
  port = 8888
  publish = "public"
  autoLaunch = false
